/* Sitewide formatting */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600&display=swap');

:root{
	--main-colour: #248277;
	--secondary-colour: #B8B8D1;
	--third-colour:#5D576B;
	--padding-1: 4px;
	--padding-2: 8px;
	--padding-3: 16px;
	--padding-4: 32px;
}

*{
	font-family: 'Mukta', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	color: #222222;
}

body {
	display:flex;
	flex-direction: column;
	align-items: center;
	min-height:100vh;
}

#main-container{
	flex-grow:1;
	width:100%;
	max-width:450px;
	padding-bottom:var(--padding-4);
	display:flex;
	flex-direction: column;
}

#page{
	width:100%;
	flex-grow:1;
	display:flex;
	flex-direction: column;
	align-items: center;
	position:relative;
}

#head-container{
	width:100%;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding:var(--padding-3) 0;
}

#title{
	font-weight:600;
	color:#000;
	font-size:20px;
	margin-left:var(--padding-3);
}

#icon-row{
	margin-left:auto;
	margin-right:var(--padding-3);
	display:flex;
	gap:var(--padding-3);
}

#user{
	content:url("../img/user.svg");
}
#settings{
	content:url("../img/settings.svg");
}
#save{
	content:url("../img/save.svg");
}

.icon{
	height:32px;
	width:auto;
}

.breadcrumb-title{
	width:100%;
	text-align: center;
	margin-top:var(--padding-3);
	font-size:18px;
	font-weight:600;

}
.question{
	width:100%;
	text-align: center;
	margin-top:var(--padding-3);
	font-weight:400;
}

#score-box{
	width:calc(100% - calc(var(--padding-3) * 2));
	margin: var(--padding-3) var(--padding-3) 0;
	border: 1px solid #121212;
	background-color: var(--secondary-colour);
	display:grid;
}

.score-box-3-players{
	grid-template-columns: auto auto auto auto auto;
}
.score-box-4-players{
	grid-template-columns: auto auto auto auto;
}

#score-box-expander{
	grid-column: 1 / 5;
	background-color: var(--secondary-colour);
	display:flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

#score-box-arrows{
	content:url("../img/arrows.svg");
	width:12px;
	height:auto;
	margin: var(--padding-2) 0;
}
#score-bid-title{
	background-color: var(--secondary-colour);
	color:white;
	text-align: center;
}

.score-box-reverse{
	background-color: white;
	display:flex;
	align-items: center;
	justify-content:center;
}

.score-box-reverse-icon{
	width:16px;
	height:16px;
	padding:4px;
	content: url("../img/back2.svg");
	cursor: pointer;
}

.score-team-name{
	background-color: var(--secondary-colour);
	color:white;
	text-align: center;
}

.score-team-number{
	background-color: white;
	display:flex;
	justify-content: center;
	align-items: center;
}
.score-hand{
	background-color: white;
}
#score-box *{
	text-align: center;
}

#winner-container{
	width:calc(100% - calc(var(--padding-3) * 2));
	margin: var(--padding-3) var(--padding-3) 0;

	display:flex;
	gap:var(--padding-3);
}

#winner-container > *{
	min-width:0;
	width:calc(50% - calc(var(--padding-3) / 2 ));
}

.button{
	min-width:60%;
	margin: var(--padding-3) 0;
	border: var(--main-colour) 1px solid;
	border-radius:var(--padding-1);
	text-align:center;
	user-select: none;
	cursor: pointer;
	padding: var(--padding-1) var(--padding-3);
}

.button.active{
	color:white;
	background-color: var(--main-colour);
}

.winner-button{
	padding: var(--padding-1);
}

#bids-container{
	width: calc(100% - (var(--padding-3) * 2));
	margin: var(--padding-3) var(--padding-3) 0;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	gap:var(--padding-2);
	justify-content: center;
	align-items: center;
}

.bid-container{
	width:calc((100% - (var(--padding-2) * 4)) / 5);

	border-radius: 4px;

	user-select: none;
	cursor: pointer;
}
.bid-container.active{
	background-color: var(--main-colour);
}
.bid-container.active *{
	color:white;
}

.bid{
	display:flex;
	justify-content: center;
	align-items: center;
	gap: var(--padding-1);
}

.bid-suit{
	width:20%;
}

.clubs-bid{
	content:url("../icons/club.svg");
}
.spades-bid{
	content:url("../icons/spade.svg");
}
.diamonds-bid{
	content:url("../icons/diamond.svg");
}
.hearts-bid{
	content:url("../icons/heart.svg");
}
.no-trumps-bid{
	content:url("../icons/joker.svg");
}
.misere-bid{
	content:none;
}
.bid-score{
	text-align: center;
	font-size:10px;
}

#confirm-button, #record-game-button{
	width:50%;
	margin:var(--padding-3) auto 0;
	border:none;
	color:#888;
	background-color: var(--secondary-colour);
}

#confirm-button.active, #record-game-button.active{
	background-color: var(--main-colour);
	color:white;
}

input{
	width:30%;
	margin: var(--padding-3) auto;
	padding:var(--padding-1) var(--padding-2);
	text-align: center;
}

#menu {
	background-color: var(--main-colour);
	width:100%;
	position: absolute;
}

.full-score{
	display:none;
}
