#won-exclamation{
    margin:var(--padding-4) 0;
    font-weight:600;
    font-size:24px;
}

#win-image{
    width:50%;
    height:auto;
    margin:var(--padding-4) 0;
}

#score-box{
    margin-top: var(--padding-4);
    margin-bottom: var(--padding-4);
}

.refresh-button{
    min-width:70%;
    margin: var(--padding-3) 0;
}